@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  background-color: #f4f4f4;
  /* min-height: 200vh; */
  margin: 0.9375rem 1rem;
  display: flex;
  justify-content: space-around;
  padding: 0.9375rem;
}

/* aside  */
.parte__esquerda {
  width: 30%;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.header__central {
  margin-right: 2rem;
  padding-right: 1.3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #adacac3b;
}

.fa-git-alt {
  font-size: 4rem;
}

.titulo__header__central {
  color: #333333;
  letter-spacing: 0.5rem;
  font-weight: 800;
  font-size: 1.8rem; 
}

.subtitulo__header__central {
  margin-top: 1.3rem;
  color: #adacac;
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.19rem;
}

.colecao__parte__esquerda {
  width: 90%;
  padding-top: 0.9375rem;
  padding-bottom: 2.7rem;
  border-bottom: 1px solid black;
}

.colecao__sections {
  background-color: #ffffff;
  min-height: 30vh;
  margin-top: 3rem;
}

.colecao__imagem {
  width: 100%;
}

.colecao__texto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.65rem 0.8rem;

}

.titulo__colecao {
  color: #333333;
  font-weight: 700;
  font-size: 0.65rem;
  text-transform: uppercase;
  letter-spacing: 0.19rem;
  margin-bottom: 0.625rem;
}

.icone__colecao {
  max-width: 1.8rem;
  max-height: 1.8rem;
  text-align: center;
  color: #ffffff;
  background-color: #adacac;
  border-radius: 25px;
  padding: 5px;
}


.leia__mais {
  display: flex;
  margin-top: 45px;
  padding-bottom: 27px;
  border-bottom: 1px solid #adacac;
}

.leia__mais__imagem {
  width: 25%;
}

.leia__mais__texto {
  flex-direction: column;
  margin-left: 20px;
}

.leia__mais__link {
  color: #333333;
}
/* main */
.parte__direita {
  width: 70%;
  height: 100vh;
  background-color: #ffffff;
}

@media(max-width:990px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .parte__esquerda {
    width: 100%;
  }

  .header__central {
    text-align: center;
    margin-right: 0;
    padding-right: 0;
    border-top: 1px solid #adacac;
  }

  .colecao__parte__esquerda {
    display: flex;
    width: 100%;
  }

  .fa-git-alt {
    font-size: 6rem;
  }

  .parte__direita {
    width: 100%;
    margin: 0px;
    padding: 0px;

  }
}