@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-around;
  padding: 2.875rem 3.125rem 0 3.125rem;
}

.titulos {
  color: #333333;
  letter-spacing: 0.19rem;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitulos {
  color: #999999;
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.19rem;
  line-height: 1.688rem;
}

.paragrafos {
  color: #8f898b;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.625rem;
  padding: 1.25rem 0;
}

.botoes {
  color: #333333;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.125rem;
  font-size: 0.75rem;
  padding: 0.75rem 1.25rem;
  border: 1px solid #dadada;
  background-color: #f4f4f4;
}

.links {
  color: #8f898b;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.125rem;
  text-decoration: underline dotted;
  text-underline-position: under;
}

/* icones */
.fa-git-alt,
.fa-github-square {
  font-size: 6rem;
}

.fa-github {
  font-size: 1.8rem;
}

.fa-heart,
.fa-comment {
  font-size: 0.625rem;
  color: #a09d9e;
  border-left: 1px solid;
  padding-left: 1.25rem;
}

/* aside - parte lateral */
.parte__lateral {
  width: 30%;
  min-height: 100vh;
}

.largura__lateral {
  width: 87%;
  border-top: 2px solid #e9e9e9;
}

/* header - parte lateral */
.header__lateral__central {
  border-top: none;
  padding-bottom: 2.7rem;
}

.titulo__header__central {
  font-size: 1.875rem;
}

.subtitulo__header__central {
  padding-top: 1.3rem;
}

/* noticias - parte lateral */
.galeria__lateral {
  padding-bottom: 2.7rem;
}

.lateral__noticias {
  background-color: #ffffff;
  min-height: 6.75rem;
  margin-top: 3rem;
}

.lateral__noticias img {
  width: 100%;
}

.chamada__noticias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.65rem 0.8rem;
}

.noticias__titulo {
  font-size: 0.75rem;
  padding-bottom: 0.625rem;
}

/* leiaMais - parte lateral */
.leiaMais__container {
  display: flex;
  padding: 1.25rem 0;
  border-top: 2px dotted #adacac3b;
}

.leiaMais__container:first-child {
  border-top: none;
  padding-top: 2.7rem;
}

.leiaMais__container:last-child {
  padding-bottom: 2.7rem;
}

.leiaMais__chamada {
  margin-left: 1.375rem;
}

/* lerDepois - parte lateral */
.leiaMais__titulo,
.lerDepois__titulo {
  font-size: 0.75rem;
}

.lerDepois__container {
  padding: 2.7rem 0;
  border-bottom: 2px solid #e9e9e9;
}

/* main - parte central */
.parte__central {
  width: 70%;
}

/* materia - parte central */
.galeria__materia {
  min-height: 80vh;
  background-color: #ffffff;
  margin-bottom: 2.875rem;
}

.materia__header {
  min-height: 16vh;
  border-bottom: 1px solid #e9e9e9;
  padding: 3.125rem 3.125rem 2.5rem 3.125rem;
}

.materia__header__titulo {
  font-size: 1.563rem;
  padding-bottom: 0.625rem;
}

.materia__middle {
  padding: 2.5rem 3.125rem 0 3.125rem;
}

.materia__img {
  width: 100%;
  margin-bottom: 0.625rem;
}

.materia__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 3.125rem 2.5rem 3.125rem;
}

.materia__footer button {
  background-color: #ffffff;
}

.materia__reacoes {
  width: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #8f898b;
}

/* responsivo */
@media (max-width: 920px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .parte__lateral,
  .parte__central {
    width: 100%;
  }

  .parte__lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .largura__lateral {
    width: 90%;
  }

  .header__lateral__central {
    text-align: center;
    border-top: 2px solid #e9e9e9;
    margin-top: 2.7rem;
    margin-bottom: 2rem;
    padding-top: 2.7rem;
  }

  .galeria__lateral {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .lateral__noticias {
    width: 46%;
  }

  .lerDepois__container {
    margin-bottom: 25vh;
  }

  .materia__header {
    text-align: center;
  }

  .parte__central {
    width: 100%;
  }

  .materia__middle {
    padding: 1.875rem;
  }

  .materia__middle p {
    font-size: 1rem;
  }

}